---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";
---
<BaseLayout pageTitle={pageTitle}>
  <p>
    In the grand tapestry of existence, chaos and order are the yin and yang of life.
    While order provides structure and stability, chaos introduces unpredictability and complexity.
    Chaos can be a powerful ally in problem-solving, often leading to synchronicity –
    those seemingly miraculous moments when everything falls into place.
  </p>
  <p>
    I try to find the order in the chaos.
  </p>
</BaseLayout>
