---
---
<style>
  footer {
    display: block;
    gap: 1rem;
    margin-top: 2rem;
    position: absolute;
    bottom: 0;
  }
  .center-bottom {
    text-align: center;
  }
</style>

<footer>
  <div class="center-bottom">
    ©2023
  </div>
</footer>
